{{> head }}

<body>
    <div>
        {{> navbar }}
    </div>
    <div class="container">
        <h1>Hola {{ capitalizar variable_nombre }}</h1>
        <p>ZZ Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea commodi assumenda saepe eaque animi, deleniti quod necessitatibus nemo, aspernatur perspiciatis similique nobis blanditiis optio quas quasi molestiae magni architecto est?</p>
    </div>

{{> footer}}